@model owasp4net.injection.Models.CustomerViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h4>Edit existing customer record</h4>
    <hr />
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(c => c.CompanyName, new { @class = "control-label col-sm-2" })
        @Html.TextBoxFor(c => c.CompanyName, new { @class = "form-control col-sm-5 mb-2" })
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.ContactName, new { @class = "control-label col-sm-2" })
        @Html.TextBoxFor(c => c.ContactName, new { @class = "form-control col-sm-5 mb-2" })
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.ContactTitle, new { @class = "control-label col-sm-2" })
        @Html.TextBoxFor(c => c.ContactTitle, new { @class = "form-control col-sm-5 mb-2" })
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Address, new { @class = "control-label col-sm-2" })
        @Html.TextBoxFor(c => c.Address, new { @class = "form-control col-sm-5 mb-2" })
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.City, new { @class = "control-label col-sm-2" })
        @Html.TextBoxFor(c => c.City, new { @class = "form-control col-sm-5 mb-2" })
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Region, new { @class = "control-label col-sm-2" })
        @Html.TextBoxFor(c => c.Region, new { @class = "form-control col-sm-5 mb-2" })
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.PostalCode, new { @class = "control-label col-sm-2" })
        @Html.TextBoxFor(c => c.PostalCode, new { @class = "form-control col-sm-5 mb-2" })
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Country, new { @class = "control-label col-sm-2" })
        @Html.TextBoxFor(c => c.Country, new { @class = "form-control col-sm-5 mb-2" })
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Phone, new { @class = "control-label col-sm-2" })
        @Html.TextBoxFor(c => c.Phone, new { @class = "form-control col-sm-5 mb-2" })
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Fax, new { @class = "control-label col-sm-2" })
        @Html.TextBoxFor(c => c.Fax, new { @class = "form-control col-sm-5 mb-2" })
    </div>
    <div class="form-group">
        @Html.HiddenFor(c => c.CustomerId, new { @class = "form-control col-sm-10" })
        <input type="submit" value="Save" class="btn btn-success col-sm-offset-2 col-sm-2" />
    </div>
}

<br/>

<div class="h-100 p-3 bg-light border rounded-3">
    <h3>Script Injection</h3>
    <p>Insert below statement in the 'Address' field. It will replace the link to the start page with one to google.com</p>
    <pre>@("<script>$(\"a[href='/']\").attr(\"href\",\"http://www.google.com\")</script>")</pre>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
